<%= form_for(@bio) do |f| %>
  <% if @bio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bio.errors.count, "error") %> prohibited this bio from being saved:</h2>

      <ul>
      <% @bio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>    
  <input type="hidden" name="bio[user_id]" id="bio_user_id" value="<%= current_user.id %>">
  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :name, class: 'control-text-area'%>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website, class: 'control-text-area' %>
  </div>
  <div class="field">
    <%= f.label :cidade %><br>
    <%= f.text_field :city, class: 'control-text-area'%>
  </div>
  <div class="actions">
    <%= f.submit 'Atualizar Perfil'%>
  </div>
<% end %>
