<p>
  <strong>Nome:</strong>
  <%= @bio.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= @bio.website %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @bio.city %>
</p>

<%= link_to 'Editar', edit_bio_path(@bio) %>
<%= link_to 'Voltar', bios_path %>
