<p id="notice"><%= notice %></p>

<h3>Todas as Tags</h3>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.name %></td>
        <td><%= link_to 'Ver', tag %></td>
        <td><%= link_to 'Editar', edit_tag_path(tag) %></td>
        <td><%= link_to 'Destruir', tag, method: :delete, data: { confirm: 'Certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Tag', new_tag_path %>
