<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :texto, class: "control-label" %><br>
    <%= f.text_area :content, class: "control-text-area"%>
  </div>
  
  <div class="field">
    <%= f.label :Tags, class: "control-label" %>
    <div class="tags-text-area">
      <%= f.select :tag_ids, Tag.all.map{|x| [x.name, x.id]}, {include_blank: true}, :multiple => true, :class => 'control-select' %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Tuitar', class: "default-button" %>
  </div>
<% end %>
