<div class="container">
    <h3>Timeline</h3>
    <%= link_to 'Tuitar', new_post_path %>
    <div class="posts-content">
        <% @posts.each do |post| %>
            <p class="post-title"><strong><%= post.user.email %></strong></p>
            <p class="post-text"><%= post.content %></p>
            <%= link_to 'Ver', post %>
            <% if post.user == current_user %>
                <%= link_to 'Editar', edit_post_path(post) %>
                <%= link_to 'Remover', post, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
        <% end %>
    </div>