<div class="posts-content">
    <p class="post-title"><strong><%= @post.user.email %></strong></p>
    <span class="tag-name"><%= @post.tags.map { |t| t.name }.join ', ' %></span>
    <p class="post-text"><%= @post.content %></p>
</div>
<div class="user-tuites-links">
<% if @post.user == current_user %>
	<%= link_to 'Voltar', posts_path %>
    <%= link_to 'Editar', edit_post_path(@post) %>
    <%= link_to 'Remover', @post, method: :delete, data: { confirm: 'Tem certeza?' } %>
<% end %>
</div>

